name: GitHub Game of Life

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run Game of Life
      uses: ethomson/gameoflife@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pattern: ./gameoflife/config.txt
